{% extends 'base.html' %} {% load static %}{% load bootstrap4 %}
{% block schedule %}
<style>
    body {
      background: #eee;
    }
    
    .cell-1 {
      border-collapse: separate;
      border-spacing: 0 4em;
      background: #fff;
      border-bottom: 5px solid transparent;
      /*background-color: gold;*/
      background-clip: padding-box;
    }
    
    thead {
      background: #dddcdc;
    }
    
    .toggle-btn {
      width: 40px;
      height: 21px;
      background: grey;
      border-radius: 50px;
      padding: 3px;
      cursor: pointer;
      -webkit-transition: all 0.3s 0.1s ease-in-out;
      -moz-transition: all 0.3s 0.1s ease-in-out;
      -o-transition: all 0.3s 0.1s ease-in-out;
      transition: all 0.3s 0.1s ease-in-out;
    }
    
    .toggle-btn > .inner-circle {
      width: 15px;
      height: 15px;
      background: #fff;
      border-radius: 50%;
      -webkit-transition: all 0.3s 0.1s ease-in-out;
      -moz-transition: all 0.3s 0.1s ease-in-out;
      -o-transition: all 0.3s 0.1s ease-in-out;
      transition: all 0.3s 0.1s ease-in-out;
    }
    
    .toggle-btn.active {
      background: blue !important;
    }
    
    .toggle-btn.active > .inner-circle {
      margin-left: 19px;
    }
    </style>
    <div class="row bg-warning" style="height: 74px">
    </div>
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-12">
                <div class="rounded">
                    <div class="table-responsive table-borderless">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Danh sách khoá học</th>
                                    <th>Tổng tiền</th>
                                    <th>Ngày mua</th>
                                    <th>Trạng thái</th>
                                    <th class="center">Hoá đơn</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                {% for checkout in checkouts %}
                                <tr class="cell-1">
                                    <td>{{ checkout.order_id }}</td>
                                    <td>{{ checkout.checkout_Coursename }}</td>
                                    <td>{{ checkout.checkout_Amount }} VNĐ</td>
                                    <td>{{ checkout.created_date }}</td>
                                    {% if checkout.status == "cho_xac_nhan" %}
                                        <td><span class="badge badge-danger">{{ checkout.get_status_display }}</span></td>
                                        <td></td>
                                    {% else %}
                                        <td><span class="badge badge-success">{{ checkout.get_status_display }}</span></td>
                                        <td ><a class="btn btn-sm btn-secondary d-print-none" href="{% url 'invoice' checkout.order_id %}">
                                          <i class="fa fa-print"></i> In ấn
                                        </a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock schedule %}