{% extends 'base.html' %}{% load static %}
{% block checkout %}
<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <a class="btn btn-outline-primary mt-3 mb-3" href="{% url 'home' %}"
          style="border-radius: 5px">&#x2190; Tiếp Tục Mua Khoá Học</a>
          <div class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="{{course.ImageURL}}"
                    class="img-fluid rounded-3" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">{{course.name}}</p>
                  <p><span class="text-muted">Lịch tập: </span>{{course.get_time_display}} {{course.get_schedule_display}}</span></p>
                  <span class="text-muted">Thời gian: </span>{{course.get_duration_display}}  </span>
  
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">{{course.tuition_course | floatformat:0}} VNĐ</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body p-4 d-flex flex-row">
              <span class="text-muted">Tổng Số Tiền: </span>{{course.tuition_course | floatformat:0}} VNĐ </span>
            </div>
          </div>
          <div class="card">
            <div class="card-body">  
                {{paypal.render}}
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
{% endblock checkout %}