{% load static %}{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% bootstrap_css %}
    <title>Quản lý phòng tập gym</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}"> 
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"> 
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %} "> 
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"> 
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}"> 
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}"> 
    <link rel="stylesheet" href="{% static "css/jquery.fancybox.min.css" %}"> 
    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}"> 
    <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "css/aos.css" %}"> 
    <link href="{% static "css/jquery.mb.YTPlayer.min.css" %}" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static "css/opensans-font.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style-login.css" %}"/>
    <style>
      .notification {
          background-color: #ff8810;
          color: white;
          text-decoration: none;
          padding: 4px 24px;
          margin-right: 20px;
          margin-left: 20px;
          position: relative;
          display: inline-block;
          border-radius: 2px;
          font-size: 20px;
      }

      .notification:hover {
          background: #0b5ed7;
          color: #fff;
      }

      .notification .badge {
          position: absolute;
          top: -10px;
          right: -10px;
          padding: 8px 8px;
          border-radius: 50%;
          background: red;
          color: white;
      }

      .notification-section .dropdown-toggle::after {
          content: none;
      }

      .dropdown-toggle::after {
          color: #fff;
      }

      #notifications-dropdown li {
          max-width: 500px;
          word-wrap: break-word;
          display: inline-block;
          white-space: normal;
      }

      #notifications-dropdown.dropdown-menu {
          width: 15rem;
      }
      
  </style>
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <header
        class="site-navbar py-2 js-sticky-header site-navbar-target"
        role="banner">
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <div class="site-logo">
              <a href="{% url 'home' %}">THANHVIX<span>.</span> </a>
            </div>
            <div class="ml-auto ">
              <nav
                class="site-navigation position-relative text-right"
                role="navigation">
                <ul
                  class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li>
                    <a href="{% url "home" %}" class="nav-link">Trang chủ</a>
                  </li>
                  <!--KIỂM TRA ĐÃ ĐĂNG NHẬP HAY CHƯA?-->
                  {% if user.is_authenticated %}
                    {% if user.is_trainer %}
                      <li>
                        <a href="#classes-section" class="nav-link">Khoá học</a>
                      </li>
                      {% comment %} <li>
                        <a href="#schedule-section" class="nav-link">Lịch tập</a>
                      </li> {% endcomment %}
                      <li>
                      <form
                      style="padding: 10px 20px"
                      class="d-flex"
                      action="{% url 'search' %}"
                      method="GET">
                      <input
                        style="width: 150px"
                        class="form-control me-2"
                        type="search"
                        aria-label="Search"
                        type="text"
                        name="q"
                        placeholder="Tìm kiếm..." />
                      <button class="btn btn-outline-primary" type="submit" style="border-radius: 5px">
                        Search
                      </button>
                      </form>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Trang Cá Nhân
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin: 0 40px 0 40px">
                          <a class="dropdown-item" href="{% url "profile" %}">Thông Tin Cá Nhân</a>
                          <a class="dropdown-item" href="#">Lịch Luyện Tập</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'logout' %}">Đăng Xuất</a>
                        </div>
                      </li>
                    {% elif user.is_member %}
                    <li>
                      <a href="#classes-section" class="nav-link">Khoá học</a>
                    </li>
                    <li>
                      <a href="#trainer-section" class="nav-link"
                        >Huấn luyện viên</a
                      >
                    </li>
                    <li>
                    <form
                    style="padding: 10px 20px"
                    class="d-flex"
                    action="{% url 'search' %}"
                    method="GET">
                    <input
                      style="width: 150px"
                      class="form-control me-2"
                      type="search"
                      aria-label="Search"
                      type="text"
                      name="q"
                      placeholder="Tìm kiếm..." />
                    <button class="btn btn-outline-primary" type="submit" style="border-radius: 5px">
                      Search
                    </button>
                    </form>
                    </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Trang Cá Nhân
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin: 0 40px 0 40px">
                          <a class="dropdown-item" href="{% url "profile" %}">Thông Tin Cá Nhân</a>
                          <a class="dropdown-item" href="{% url "course_purchased" %}">Khoá học đã mua</a>
                          {% comment %} <a class="dropdown-item" href="#">Lịch Luyện Tập</a> {% endcomment %}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'logout' %}">Đăng Xuất</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown notification-section">
                        <a href="#" class="notification dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span><i class='fa fa-bell'></i></span>
                            <span class="badge" id="notification-badge">0</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="notifications-dropdown"
                            data-popper-placement="bottom-end"
                            style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(-70px, 42px, 0px);">
                            {% comment %} {% for i in notifications %}
                            <li class="dropdown-item">{{i.content}}</li>
                            <hr class="dropdown-divider">
                            {% endfor %} {% endcomment %}
                            <a href="{% url "notification" %}"><li>Xem tất cả</li></a>
                        </ul>
                    </li>
                      <li class="nav-item ">
                        <a class="nav-link" href="{% url "cart" %}"><i class="fas fa-shopping-cart"></i></a>
                      </li>
                  {% endif %}               
                  {% else %}
                  <li>
                    <a href="#classes-section" class="nav-link">Khoá học</a>
                  </li>
                  <li>
                    <a href="#schedule-section" class="nav-link">Lịch tập</a>
                  </li>
                  <li>
                    <a href="#trainer-section" class="nav-link"
                      >Huấn luyện viên</a
                    >
                  </li>
                  <li>
                  <form
                  style="padding: 10px 20px"
                  class="d-flex"
                  action="{% url 'search' %}"
                  method="GET">
                  <input
                    style="width: 150px"
                    class="form-control me-2"
                    type="search"
                    aria-label="Search"
                    type="text"
                    name="q"
                    placeholder="Tìm kiếm..." />
                  <button class="btn btn-outline-primary" type="submit" style="border-radius: 5px">
                    Search
                  </button>
                  </form>
                  </li>
                    <li>
                      <a href="{% url "register" %}" class="nav-link">Đăng Ký</a>
                    </li>
                    <li>
                      <a href="{% url "login" %}" class="nav-link">Đăng Nhập</a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
              <a
                href="#"
                class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"
                ><span class="icon-menu h3"></span
              ></a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!-- notification -->
    <script>
      const notificationSocket = new WebSocket('ws://' + window.location.host + '/ws/notification/');
      notificationSocket.onopen = function(event) {
        console.log('Kết nối đã mở:', event);
      };
      // Khi nhận được thông điệp từ server
      notificationSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log("Nhận được dữ liệu mới:", data);
        // Thêm thông báo mới vào dropdown
        const newNotificationHTML = "<li class='dropdown-item'>" + data + "</li><hr class='dropdown-divider'>";
        document.getElementById("notifications-dropdown").innerHTML = newNotificationHTML + document.getElementById("notifications-dropdown").innerHTML;
        //console.log("Đã cập nhật dropdown với thông báo mới:", newNotificationHTML);
        // Cập nhật số lượng thông báo
        document.getElementById("notification-badge").innerHTML = parseInt(document.getElementById("notification-badge").innerHTML) + 1;
        //console.log("Đã cập nhật số lượng thông báo:", document.getElementById("notification-badge").innerHTML);
    };

      // Khi có lỗi trong kết nối WebSocket
      notificationSocket.onerror = function(event) {
          console.error('WebSocket error:', event);
      };
      // Khi kết nối WebSocket đóng
      notificationSocket.onclose = function(event) {
          console.log('WebSocket connection closed:', event);
      };
  </script>
    <!--Main -->
    {% block main-content %}{% endblock main-content %}
    <!-- Course -->
    {% block course %}{% endblock course %}
    <!-- login -->
    {% block login %}{% endblock login %}
    <!-- Register -->
    {% block register %}{% endblock register %}
     <!-- Profile -->
    {% block profile %}{% endblock profile %}
    <!-- Trainer -->
    {% block cart_content %}{% endblock cart_content %}
    <!-- Checkouts -->
    {% block checkout %}{% endblock checkout %}
    <!-- payment-success -->
    {% block payment-success %}{% endblock payment-success %}
    <!-- payment-fail -->
    {% block payment-failed %}{% endblock payment-failed %}
    <!-- course_purchased -->
    {% block course_purchased %}{% endblock course_purchased %}
    <!-- notification -->
    {% block notification %}{% endblock notification %}
    <!-- schedule -->
    {% block schedule %}{% endblock schedule %}
    {% comment %} <footer class="footer-section bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3 class="text-white">About Workout</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam facere optio eligendi.</p>
            </div>
            <div class="col-md-3 ml-auto">
              <h3 class="text-white">Links</h3>
              <ul class="list-unstyled footer-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Trainer</a></li>
              </ul>
            </div>
  
            <div class="col-md-4">
              <h3 class="text-white">Subscribe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, odio beatae accusantium.
              </p>
              <form action="#">
                <div class="d-flex mb-5">
                  <input type="text" class="form-control rounded-0" placeholder="Email">
                  <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
                </div>
              </form>
            </div>
          </div>
          </div>
        </div>
      </footer>

    </div> {% endcomment %}

    <!-- Load Bootstrap JavaScript -->
    {% bootstrap_javascript %}
    <!-- .site-wrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/jquery.stellar.min.js" %}"></script>
    <script src="{% static "js/jquery.countdown.min.js" %}"></script>
    <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
    <script src="{% static "js/aos.js" %}"></script>
    <script src="{% static "js/jquery.fancybox.min.js" %}"></script>
    <script src="{% static "js/jquery.sticky.js" %}"></script>
    <script src="{% static "js/jquery.mb.YTPlayer.min.js" %}"></script>
  	<script src="{% static "js/jquery.steps.js" %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
	  <script src="{% static "js/main-login.js" %}"></script>
    </body>
</html>
